// Navigation code here
.navigation{
    background-color:whitesmoke;
    width:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    padding-top:1em;
    padding-bottom:1em;

    h2{
        .h2-style();
    }

    nav{
        width:50%;
        margin:0 auto;
        padding:1em;

        a{
            .link-style();
        }
    }
}